html, body {
    height: 100%;
    background-color: #ccc;
}

.container {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

#face {
    background-color: #f3f3f3;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7px solid #444;
    position: relative;
    box-shadow: 6px 6px 3px #777;
}

#gear {
    background-color: black;
    position: absolute;
    left: 145px;
    top: 142px;
    transform-origin: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #eee;
    opacity: 90%;
    z-index: 3;
}

#minutes, #hours, #seconds {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top center;
    border-radius: 6px;
}
    
#seconds {
    left: 51%;
    background-color: red;
    height: 130px;
    width: 2px;
    transform: rotate(180deg);
    z-index: 0;
}
    
#hours {
    background-color: black;
    height: 100px;
    width: 8px;
    transform: rotate(180deg);
    z-index: 2;
}
    
#minutes {
    top: 51.5%;
    background-color: grey;
    height: 120px;
    width: 4px;
    transform: rotate(180deg);
    z-index: 1;
}